Package: com.michael.resolutionsetter
Version: 0.6.2
Section: Tweaks
Name: Resolution Setter
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: firmware (>= 9.0), preferenceloader
Architecture: iphoneos-arm
Description: Change your device resolution on Settings or via Terminal!
Depiction: https://halo-michael.github.io/repo/info/resolutionsetter
