Package: com.michael.resolutionsetter
Version: 0.5.0
Section: Tweaks
Name: Resolution Setter
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: firmware (>= 9.0), coreutils
Architecture: iphoneos-arm
Description: Change your device resolution via Terminal!
Depiction: https://halo-michael.github.io/repo/info/resolutionsetter
