Package: com.michael.resolutionsetter
Version: 0.2.0
Section: Tweaks
Name: Resolution Setter
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: firmware (>= 9.0), coreutils, com.bingner.plutil
Architecture: iphoneos-arm
Description: Change your device resolution via Terminal! Usage: res [height] [width] [-w] [-y]. Please type "res -h" or "res --help" on Terminal for more messages.
